.site-content {
  .main-title {
    font-style: normal;
    font-weight: 700;
    font-size: clamp(35px, 3.472vw, 50px);
    line-height: 125%;
    font-family: var(--font-family);
    color: var(--color-a);
    text-transform: uppercase;
  }

  p {
    font-family: var(--font-family);
    font-style: normal;
    font-weight: 400;
    font-size: clamp(16px, 1.389vw, 20px);
    line-height: 125%;
    color: var(--color-a);
  }

}

